In [4]:
list1=["Andhra Pradesh","Maharashtra","Tamil Naidu","Telengana","Delhi"]

In [5]:
list1

['Andhra Pradesh', 'Maharashtra', 'Tamil Naidu', 'Telengana', 'Delhi']

In [8]:
len(list1)

5

In [6]:
list2=[16934,192990,102721,20462,94695]

In [7]:
list2

[16934, 192990, 102721, 20462, 94695]

In [9]:
len(list2)

5

In [12]:
print("State wise COVID19 cases")
for x in range(len(list1)):
 print(list1[x]+": "+str(list2[x]))

State wise COVID19 cases
Andhra Pradesh: 16934
Maharashtra: 192990
Tamil Naidu: 102721
Telengana: 20462
Delhi: 94695

In [14]:
tuple1=["Andhra Pradesh","Maharashtra","Tamil Naidu","Telengana","Delhi"]

In [15]:
tuple1

['Andhra Pradesh', 'Maharashtra', 'Tamil Naidu', 'Telengana', 'Delhi']

In [16]:
len(tuple1)

5

In [22]:
tuple2=[7632,104687,58378,10195,65624]

In [23]:
tuple2

[7632, 104687, 58378, 10195, 65624]

In [24]:
len(tuple2)

5

In [26]:
print("State wise COVID19 number of recovered cases")
for x in range(len(tuple1)):
 print(tuple1[x]+": "+str(tuple2[x]))

State wise COVID19 number of recovered cases
Andhra Pradesh: 7632
Maharashtra: 104687
Tamil Naidu: 58378
Telengana: 10195
Delhi: 65624

In [28]:
dictionary1=["Andhra Pradesh","Maharashtra","Tamil Naidu","Telengana","Delhi"]

In [29]:
dictionary1

['Andhra Pradesh', 'Maharashtra', 'Tamil Naidu', 'Telengana', 'Delhi']

In [30]:
len(dictionary1)

5

In [31]:
dictionary2=[16934,192990,102721,20462,94695]

In [32]:
dictionary2

[16934, 192990, 102721, 20462, 94695]

In [33]:
len(dictionary2)

5

In [34]:
print("State wise COVID19 number of infected cases")
for x in range(len(dictionary1)):
 print(dictionary1[x]+": "+str(dictionary2[x]))

State wise COVID19 number of infected cases
Andhra Pradesh: 16934
Maharashtra: 192990
Tamil Naidu: 102721
Telengana: 20462
Delhi: 94695